####################################################
#
# Welcome to Resume Jekyll Template
#
# Product Link : https://themeix.com/product/resume-jekyll-template/
# Version : v1.0.0
#
####################################################

# Site settings
title: "Resume - Jekyll Premim Theme"
email: "themeix@gmail.com"
logo: /assets/images/logo/logo-light.png
footer_logo: /assets/images/logo/logo-light.png
description: "Resume is a responsive Jekyll template for your business website"
keywords: "jekyll, minimal jekyll, jekyll theme, responsive jekyll, seo friendly blog, super fast blog, responsive"
mailclimp: 'https://themeix.us16.list-manage.com/subscribe/post?u=307862c135e4548eecf86f389&amp;id=4784863884'
dribble: https://dribble.com/themeix
facebook: https://facebook.com/themeix
instagram: https://instagram.com/themeix
youtube: https://youtube.com/themeix
twitter: https://twitter.com/themeix_com
linkedin: https://linkedin.com/themeix
pinterest: https://pinterest.com/themeix


# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-paginate-v2
  - jekyll-archives


# Site configuration for the Jekyll 2 Pagination Gem
pagination:
  enabled: true
  debug: true
  collection: 'posts'
  per_page: 1
  permalink: '/pages/:num/' # Pages are simple html files 
  title: ':title - page :num'
  limit: 0 
  sort_field: 'date'
  sort_reverse: true
  category: 'posts'
  tag: ''
  locale: '' 
  trail: 
    before: 2
    after: 
  extension: 'html'
  indexpage: 'index'

autopages:
  enabled: true
  categories: 
    layouts: 
      - 'category.html'
    title: 'Category -  :cat'
    permalink: '/category/:cat'
  collections:
    layouts: 
      - 'category.html'
    title: ' :coll' # :coll is replaced by the collection name
    permalink: '/:coll/'
    
  
  tags:
    layouts: 
      - 'tag.html'
    title: 'Tag - :tag' # :tag is replaced by the tag name
    permalink: '/tag/:tag'  
      
tag_page_layout: category
tag_page_dir: tag
tag_permalink_style: pretty

jekyll-archives:
  enabled: all
  layout: category
  permalinks:
    category: '/category/:name/'
    
feed:
  collections:
    posts:
      path: "/index.xml"