<!--====== Counter Area Start ======-->
<section class="counter-area">
    <div class="conter-wrapper position-relative py-6 bg-secondary">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="counter-box text-center">
                        <div class="counter-icon mb-2">
                            <i class="far fa-smile"></i>
                        </div>
                        <h3 class="counter display-4 text-light my-3">9980</h3>
                        <p class="text-light m-0">Happy Client</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="counter-box text-center">
                        <div class="counter-icon mb-2">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <h3 class="counter display-4 text-light my-3">23</h3>
                        <p class="text-light m-0">Award Won</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="counter-box text-center">
                        <div class="counter-icon mb-2">
                            <i class="fas fa-coffee"></i>
                        </div>
                        <h3 class="counter display-4 text-light my-3">6592</h3>
                        <p class="text-light m-0">Cup of Coffee</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="counter-box text-center">
                        <div class="counter-icon mb-3">
                            <i class="fas fa-thumbs-up"></i>
                        </div>
                        <h3 class="counter display-4 text-light my-3">189</h3>
                        <p class="text-light m-0">Project Complete</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Counter Area End ======-->