<!--====== Hobbie Area Start ======-->
<section class="hobbie-area py-10" id="expertise">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="section-title text-center mb-2">
                    <h3 class="mb-5">Expertise Area</h3>
                    <p>All once with copy annoyed. Should herself drew sports. Plainly pointed caution have immune
                        on </p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for skill in site.data.skills %}
                <div class="col-md-4 col-lg-3">
                    <div class="interests-box">
                        <div class="rounded-icon">
                            <img src="{{skill.icon}}" alt="{{skill.name}}">
                        </div>
                        <h6 class="m-0">{{skill.name}}</h6>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--====== Hobbie Area End ======-->