<!--====== Banner Area Strar ======-->
<section class="banner-area" id="home">
    <div class="banner-item" style="background-image:url({{'/assets/images/header/01.jpg' | relative_url}})">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="banner-content-center">
                        <div class="banner-content">

                            <h1 class="display-4 text-success mb-4" data-aos="fade-down" data-aos-delay="30"
                                data-aos-duration="1500">Hi, I'm Jhon Doe</h1>
                            <p class="mb-5 text-light">My Melanie Sato opens the line of communication between
                                clients, customers, and businesses to get projects done. With over 20 years in both
                                public and private sectors.</p>
                            <div class="d-block">
                                <a href="#contact" class="btn btn-success  mb-4 mr-3" data-aos="fade-up" data-aos-delay="30"
                                    data-aos-duration="2000">Hire Me</a>
                                <a href="#" class="btn btn-outline-success mb-4 " data-aos="fade-up" data-aos-delay="30"
                                    data-aos-duration="2000">Download CV <i class="fas fa-download"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== Mouse Strar ======-->
            <a href="#about">
                <div class="banner-bottom-icon">
                    <div class="mouse"></div>
                    <p>Scroll</p>
                </div>
            </a>
            <!--====== Mouse End ======-->
        </div>
    </div>
</section>
<!--======Banner Area End ======-->