<!--====== Banner Area Strar ======-->
<section class="banner-area category-page" id="category-page">
    <div class="banner-item" style="background-image:url({{'/assets/images/header/01.jpg' | relative_url}})">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb-2 text-center">
                        <h3 class="mb-5">{{page.title}}</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--======Banner Area End ======-->