<!--====== Experience Area Start======-->
<section class="experience-area   pt-10" id="skill">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="section-title text-center mb-2">
                    <h3 class="mb-5">Skill Indicator</h3>
                    <p>The as name project and have the we for can luxury. So bidding temple the to handwriting a
                        work, from in unavoidable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <ul class="experience-nav nav nav-pills flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-cloud-tab" data-toggle="pill" href="#pills-cloud">
                            UX Design
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-smart-tab" data-toggle="pill" href="#pills-smart" role="tab">
                            Language Skill
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-apps-tab" data-toggle="pill" href="#pills-apps" role="tab">
                            Web development
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-cloud" role="tabpanel">
                        <div class="experience-progressbar">
                            <h6>Html</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuemax="100"></div>
                            </div>
                            <h6>CSS</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuemax="100">
                                </div>
                            </div>
                            <h6>JQuery</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-smart" role="tabpanel">
                        <div class="experience-progressbar">
                            <h6>English</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuemax="100"></div>
                            </div>
                            <h6>Spanish</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuemax="100">
                                </div>
                            </div>
                            <h6>Garmen</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-apps" role="tabpanel">
                        <div class="experience-progressbar">
                            <h6>Photoshop</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuemax="100"></div>
                            </div>
                            <h6>Sketch</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Experience Area End ======-->