/*
==========================================
    About Area
==========================================
*/

.about-feature-image {
    position: relative;
    img{
        object-fit: cover;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0%;
        left: 0%;
        bottom: 0%;
      
        border: 16px double $light;
    }
}